
#waybar { background-color: rgba(0,0,0,0.0); color: #e0e0e0; }
#workspaces { background-color: rgba(17,24,39,0.85); border-radius: 14px; }
#workspaces button { background-color: rgba(17,24,39,0.85); border-radius: 6px; color: #e8e8e8; }
#workspaces button.active { background-color: rgba(2,89,57,0.95); border-radius: 6px; color: #ffffff; }
#clock,#battery,#cpu,#memory,#disk,#temperature,#backlight,#network,#pulseaudio,#wireplumber,#custom-media,#mode,#idle_inhibitor,#mpd,#bluetooth,#custom-spotify,#custom-weather,#custom-screenshot_t,#custom-power,#tray,#custom-storage {
  background-color: rgba(17,24,39,0.85); border-radius: 14px; color: #e0e0e0;
}
